* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #333;
  line-height: 1.5;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 12px;
  margin-bottom: 80px;
}

.logo-small {
  font-size: 14px;
  color: #888;
}

.nav-right a {
  margin-left: 30px;
  text-decoration: none;
  color: #777;
  font-size: 14px;
}

.nav-right a:hover {
  color: #000;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* important */
  min-height: 70vh;
  overflow: visible;       /* allow spilling out */
}

/* NAME */
.name-script {
  font-family: 'Pacifico', cursive;
  font-size: 82px;
  color: #2f6fa3;
}

.name-last {
  font-weight: 700;
  font-size: 72px;
  margin-top: -25px;
}

/* SUBTITLE */
.subtitle {
  margin-top: 30px;
  color: #777;
  font-size: 16px;
}

.subtitle span {
  font-size: 14px;
  color: #999;
}

/* IMAGE */
.hero-image img {
  width: 600px;
  height: auto;
  object-fit: contain;
  margin-top: 80px
}

/* RESPONSIVE */
@media (max-width: 900px) {

    .hero {
    flex-direction: column;
    text-align: center;
    min-height: auto;
    overflow: visible;
  }

  .hero-image img {
    width: 600px;
    margin-top: 80px;
    transform: none;
    margin-top: 100px
  }

}
